body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.top-bar {
  border-bottom: 1px solid #eee;
  padding: 0.2em 0;
}

.logo {
  border-radius: 0.15em;
  height: 1.75em;
  width: 2.5em;
}

.search-bar {
  padding: 0.35em 0.5em;
}

#feed-select {
  background-image: url(./img/caret-down.svg);
  padding: 0.25em;
  width: 5em;
}

.search-bar,
#feed-select {
  background-color: #f7f7f7;
  border: 1px solid #c7c7d1;
  border-radius: 3px;
  font-size: 0.85em;
}

.icon {
  height: 1.25em;
  width: 1.25em;
}

.icon-sm {
  height: 1em;
  margin-right: 0.25em;
  width: 1em;
}

.logo,
.icon {
  margin: 0.25em;
}

.top-bar--links {
  padding-left: 0.5em;
  width: 100%;
}

.top-bar-link {
  margin-right: 0.5em;
}

.posts-bar {
  background-color: #ddd;
  padding: 0.25em;
}

.posts-bar--middle {
  width: 100%;
}

.posts-header {
  margin: 0.25em;
}

.featured {
  max-height: 8em;
  overflow: hidden;
}

.featured-img {
  width: 100vw;
}

.post-card {
  border: 1px solid #ddd;
  padding: 0.6em 0 0.25em 0;
  width: 100%;
}

.post-card--user {
  width: 10vw;
}

.post-card--main {
  width: 72vw;
}

.post-card--main > * {
  margin-bottom: 1em;
}

.post-username-datetime-container {
  margin-bottom: 0.5em;
}

.post-title {
  font-size: 1.15em;
  margin-top: 0;
}

.post-tag {
  font-family: 'Source Code Pro', monospace;
  margin-right: 0.5em;
}

.post-footer {
  margin-bottom: 0.25em;
}

.hearts-count,
.comments-count,
.read-time {
  margin-top: 0.2em;
}

.post-footer--middle {
  margin-left: 1em;
  margin-right: 0.25em;
  width: 100%;
}

.post-card--save {
  width: 18vw;
}

.save-btn {
  background-color: #dddddf;
  border: none;
  border-radius: 0.25em;
  font-size: 0.75em;
  margin: 0.05em auto;
  padding: 0.35em 0.65em;
}

.user-icon {
  background-color: #ddd;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #ddd;
}

/* * Reusuable Classes * */

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.flex--align-center {
  align-items: center;
}

.flex--align-end {
  align-items: flex-end;
}

.flex--justify-around {
  justify-content: space-around;
}

.flex--justify-between {
  justify-content: space-between;
}

.flex--justify-center {
  justify-content: center;
}

.flex--justify-end {
  justify-content: flex-end;
}

.flex--wrap {
  flex-wrap: wrap;
}

.screen-reader-text {
  left: -99999px;
  position: absolute;
  top: -99999px;
}

.small-post-text {
  font-size: 0.65em;
}

.text-gray {
  color: #666;
}

.user-post-text {
  font-size: 0.75em;
  font-weight: bold;
}
